*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway',sans-serif;
}

.center{
  display: flex;
  max-width: 1280px;
  padding: 0 2%;
  margin: 0 auto;
  flex-wrap: wrap;
}

section.main{
  background-image: url('images/bg.svg');
  background-position: center;
  background-size: cover;
  min-height: 700px;
  padding: 20px 0 80px 0;
}

.menu{display: flex;width:100%;}

.logo-menu{width: 50%;}

.items-menu{width: 50%;text-align: right;}

.items-menu a{
  font-weight:
  bold;color: white;
  text-decoration: none;
  display:inline-block;
  margin: 0 10px;
}

.items-menu a:hover{
  border-bottom: 3px solid #FFDD33;
  border-radius: 2px;
}

.items-menu a.contact-btn{
  background-color: #0F3FD3;
  padding: 10px 10px;
  border-radius: 8px;
}

.items-menu a.contact-btn:hover{
  background: #FFDD33;
}

.items-menu a.contact-btn{
  border: 0;
}
.mockup{display:block;width: 100%;color: white;text-align: center;padding:100px;}

.mockup h1{
  font-size: 50px;
  font-weight:100;
}
span {
  font-weight: 800;
}

.mockup img{
  max-width:100%;
}

section.marcas img{
  width: calc(100%/5);
}

section.marcas{
  padding: 100px 0;
}

section.porque-nos{
  padding: 40px 0;
  background-color: #FBFCFE;
}

section.porque-nos > .center > h2{
  font-size: 50px;
  text-align: center;
  width: 100%;/*ocupar todo espaço disponível*/
  margin-bottom:10px;
}

section.porque-nos > .center > p{
  font-size: 14px;
  color: #ccc;
  text-align: center;
  width: 100%;/*ocupar todo espaço disponível*/
}

.diferenciais{
  display: flex;
  margin-top: 50px;
}

.box-diferenciais{
  box-shadow: 0px 20px 40px #24267221;
  width: 31%;
  margin-right: 2%;
  padding: 10px 20px;
  border-radius: 10px;
}

.box-diferenciais h3{
  font-size: 28px;
  color: black;
  margin:20px 0;
}

.box-diferenciais p{
 font-size: 13px;
 color: #7E92AC;
 margin-bottom: 20px;
}
section.cta{
  background-image: url('images/banner_meio.svg');
  background-size:cover;
  background-position: center;
  padding:20px 10px;
  min-height:200px;
  color:white;
  text-align: center;
}

section.cta h2,
section.cta h4{
  font-weight:normal;
  margin:10px 0;
}
section.cta h2{
  font-size: 40px;
}

section.cta a{
  display: inline-block;
  padding:10px 15px;
  border-radius: 8px;
  font-size:17px;
  font-weight:bold;
  text-decoration:none;
  background: #FFDD33;
  letter-spacing: 1px;
  opacity: 1;
  text-transform: uppercase;
}

section.beneficios{
  padding: 50px 0;
}

.lista-beneficios{
  width: 40%;
  margin-top: 35px;
}

.lista-beneficios h1{
  color: black;
  font-size: 40px;
  margin: 10px 0;
}

.lista-beneficios p{
  color: #7e92ac;
  vertical-align: middle;
  font-size: 13px;
}

.lista-beneficios span{
  display: inline-block;
  width: calc(100% - 70px);
  margin-left: 15px;
}

.margin{
  margin-bottom: 50px;
}

.lista-beneficios  img{
  display:inline-block;
  vertical-align: middle;
  width: 70px;
  margin:0 -19px;
}

.img-beneficios{
  width:60%;
}

.img-beneficios img{
  max-width: 100%;
  padding-left:25%;
}


.lista-beneficios  a{
  padding:10px 15px;
  border-radius: 8px;
  font-size:17px;
  font-weight:bold;
  text-decoration:none;
  background:#255AFF;
  color: #ffffff;
  letter-spacing: 1px;
  opacity: 1;
  text-transform: uppercase;
  margin-top: 100px;
}


@media screen and (max-width: 768px){
  .lista-beneficios{
    width: 100%;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .img-beneficios{
    width:100%;
  } 
  .img-beneficios img{
    max-width: 100%;
    padding: 0;
  }
  .diferenciais{
    flex-wrap: wrap;
  }
  .box-diferenciais{
    width:100%;
    margin-right: 0;
  }
  section.marcas{
    text-align:center;
  }
  section.marcas{
    padding:0;
  }
  section.marcas > .center{
    flex-wrap:nowrap;
    flex-direction: column;
    align-items: center;
  }
  section.marcas img{
    width:100%;
    max-width:200px;
  }

}





















